body {
  background-image: url("images/rkh_Kranich\ copy.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ed037c;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  margin: 0 0 15px;
  padding: 6px 15px 10px;
  align-items: flex-start;
  opacity: 0.95;
  animation: cardEntrance 500ms ease-out;
  animation-fill-mode: backwards;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}

.card:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}

.card:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}

.card:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}

.card:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}

.card:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}

.card:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
}

.card:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
}

.card:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
}

.card:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
}

.card:nth-child(11) {
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
}

.card:nth-child(12) {
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
}

.card:nth-child(13) {
  grid-area: m;
  animation-delay: calc(13 * var(--stagger-delay));
}

.card:nth-child(14) {
  grid-area: n;
  animation-delay: calc(14 * var(--stagger-delay));
}

.card:last-child {
  grid-area: o;
  animation-delay: calc(15 * var(--stagger-delay));
}

.card:hover {
  transform: scale(1.05);
}

#reisefuehrer {
  background: #c06;
}

#reisefuehrer:hover {
  background-image: url("/images/bg_reisefuehrer.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#stadtfuehrer {
  background: #06c;
}

#stadtfuehrer:hover {
  background-image: url("/images/bg_stadtfuehrer.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#inseltrip {
  background: #9c3;
}

#inseltrip:hover {
  background-image: url("/images/bg_inseltrip.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#kauderwelsch {
  background: #f90;
}

#kauderwelsch:hover {
  background-image: url("/images/bg_kauderwelsch.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#landkarten {
  background: #009;
}

#landkarten:hover {
  background-image: url("/images/bg_landkarten.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#kulturschock {
  background: #909;
}

#kulturschock:hover {
  background-image: url("/images/bg_kulturschock.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#sachbuecher,
#diaries {
  background: #30f;
}

#sachbuecher:hover {
  background-image: url("/images/bg_sachbuecher.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#diaries:hover {
  background-image: url("/images/bg_diaries.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#soundtrip {
  background: #60c;
}

#soundtrip:hover {
  background-image: url("/images/bg_soundtrip.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#wohnmobil {
  background: #09c;
}

#wohnmobil:hover {
  background-image: url("/images/bg_wohnmobil.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#wanderfuehrer {
  background: #093;
}

#wanderfuehrer:hover {
  background-image: url("/images/bg_wanderfuehrer.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#edition-rkh,
#reisesplitter {
  background: #fc3;
}

#edition-rkh:hover {
  background-image: url("/images/bg_rkh.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#reisesplitter:hover {
  background-image: url("/images/bg_reisesplitter.png");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#edition-tirta {
  background: #66f;
}

#edition-tirta:hover {
  background-image: url("/images/bg_tirta.jpg");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

#fremdenversteher {
  background: #cf1f25;
}

#fremdenversteher:hover {
  background-image: url("/images/bg_fremdenversteher.png");
  font-size: 1rem;
  align-items: flex-end;
  text-shadow: 1px 1px black;
  opacity: 1;
}

.basic-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j k l"
    "m n o";
  column-gap: 3rem;
  align-items: center;
  justify-items: center;
  margin: 1.5rem;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto;

  --stagger-delay: 50ms;
}

@media screen and (min-width: 800px) {
  .card {
    font-size: 2rem;
  }
  .basic-grid {
    grid-template-columns: 400px auto 400px;
  }
}
