@tailwind base;
@tailwind components;
@tailwind utilities;

.textShadow-lg {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 6px;
}

.textShadow-md {
  text-shadow:   rgba(0,0,0,0.1) 0 0 4px;
}

.textShadow-sm {
  text-shadow:   rgba(0,0,0,0.1) 0 0 2px;
}

.active {
  @apply text-gray-900
}
