body {
  color: rgb(15, 15, 15);
  background: #dbdbdb;
  margin: 80px 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
}

main,
.splash {
  max-width: 600px;
  margin: auto;
}

a {
  color: rgb(60, 60, 60);
}

h3 a {
  text-decoration: none;
}

h1 {
  font-family: 'Alike Angular', serif;
  font-size: 36px;
  font-weight: bold;
}

.blog p {
  font-size: 18px;
}

.blog .date {
  font-size: 14px;
}

h1,
.blog .date,
.blog img {
  margin: 30px 0;
}

#pic {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  float: right;
}

h2,
h3,
h4 {
  font-size: inherit;
}

header {
  text-align: center;
  height: 100%;
}

img {
  filter: grayscale(100%);
}

a:hover {
  background: rgb(238, 170, 235);
}

@media only screen and (max-device-width: 480px) {
  header {
    height: auto;
  }

  main {
    margin: 10px;
  }
  body {
    margin: 0;
  }
}
