/* Navigation */
#navigation {
  top: 0px;
  right: 0px;
  width: 100%;
  position: absolute;
}
nav {
  float: right;
  display: block;
  margin-top: -15px;
  margin-right: 35px;
}
nav:after {
  clear: both;
}
nav ul li {
  display: inline;
  position: relative;
  margin-left: 10px;
}
nav ul li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

body {
  color: #111;
  background: #ddd;
  margin: 80px 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
}

.social a:hover,
.social a:focus,
.social a:active,
.social a:visited,
.social a:link {
  text-decoration: none;
  background: none;
}

main,
.splash {
  max-width: 600px;
  margin: auto;
}

a {
  color: rgb(60, 60, 60);
}

h3 a {
  text-decoration: none;
}

h1 {
  font-family: 'Alike Angular', serif;
  font-size: 36px;
  font-weight: bold;
}

.blog body {
  font-size: 20px;
  line-height: 1.6;
}

.blog main {
  margin: auto;
  max-width: 1000px;
}

.blog p {
  margin-bottom: 24px;
  margin: 0 0 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blog h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  text-align: center;
}

.blog .date {
  font-size: 16px;
  text-align: center;
}

h1,
.blog .date,
.blog img {
  margin: 30px 0;
}

h2,
h3,
h4 {
  font-size: inherit;
}

header {
  height: 100%;
}

a:hover {
  background: rgb(240, 160, 240);
}

@media only screen and (max-device-width: 480px) {
  header {
    height: auto;
  }

  main {
    margin: 10px;
  }
  body {
    margin: 0;
  }
}
