html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  margin: 0;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h1 span {
  padding: 10px;
}

p {
  text-align: center;
  padding: 0;
  margin: 0;
}

section {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
}

header {
  background-color: black;
  color: white;
  vertical-align: top;
}

header p {
  font-size: 25pt;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

form {
  text-align: center;
  margin-top: 0;
}

.submit {
  background-color: black;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}

.submit:hover {
  background-color: gray;
}

textarea {
  height: 100px;
}

input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

#contacts img {
  height: 60px;
  width: 60px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}

#contacts {
  text-align: center;
}

.copyright {
  font-size: 8pt;
  color: lightgray;
}

#paypal-button {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
