body {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

#website-title {
  text-transform: capitalize;
}

a:hover {
  text-shadow: 0 0 7px cyan;
}

a {
  color: cyan;
}
