html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.content {
  max-width: 50%;
  margin: auto;
}

.caption {
  font-size: 2em;
  opacity: 50%;
}

.hr-medium {
  width: 75%;
  opacity: 50%;
}

.hr-small {
  width: 25%;
  opacity: 50%;
}

.hr-vsmall {
  width: 15%;
  opacity: 25%;
}

a:hover {
  cursor: pointer;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  bottom: 0px;
}

header h1 {
  padding: 10px 5px 15px 20px;
  margin: 0 0 10px 0;
}

input {
  width: 60%;
}

#contacts img {
  height: 60px;
  width: 60px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}

#paypal-button {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.skill-icon {
  width: 120px;
  height: 120px;
  filter: grayscale(100%) contrast(500%);
}

.copyright {
  font-size: small;
  color: lightgray;
}
